*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body header {
  width: 100%;
  background-color: #ff6fe9;
  font-family: sans-serif; }
  body header img {
    display: block;
    margin: auto; }
  body header nav {
    max-width: 1200px;
    margin: auto;
    text-align: center; }
  body header ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px; }
  body header ul a {
    text-decoration: none;
    color: #000000;
    padding: 15px 20px;
    display: block;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    text-transform: uppercase; }
  body header ul a:hover {
    background: #6e20a6;
    color: #000; }

body main {
  background-color: #f891e9; }

body footer {
  background-color: #ff6fe9; }
  body footer .huno {
    color: #6e20a6;
    text-align: center; }

body main div {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  body main div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

body main .login-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f5bbe7;
  border-radius: 10px;
  background-color: #b487c5;
  box-shadow: 2px 2px 10px #ccc; }

body main .card-header {
  text-align: center;
  margin-bottom: 20px; }

body main .card-header .log {
  margin: 0;
  font-size: 24px;
  color: black; }

body main .form-group {
  margin-bottom: 15px; }
  body main .form-group form label {
    font-size: 18px;
    margin-bottom: 5px; }

@media only screen and (max-width: 768px) {
  header nav ul li {
    display: block;
    margin-right: 0; } }
